---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About me';

const identity = {
  firstName: 'Dung',
  country: 'Vietnam',
  occupation: 'Student',
  hobbies: ['coding', 'music', 'TV'],
};

const skills = ['HTML', 'CSS', 'JavaScript', 'React', 'Astro'];
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new Astro site!</h2>
  <p>
    I am working through Astro introductory tutorial. This is the second page on my website, and
    it's the first one I built myself!
  </p>
  <p>
    This site will update as I complete more of the tutorial, so keep changing back and see how my
    journey is going!
  </p>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}</li>
    <li>I live in {identity.country}</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map(skill => <li class='skill'>{skill}</li>)}
  </ul>
</BaseLayout>
